<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="RCMSTaskScheduler.Properties.Settings.RCMS_Prod" connectionString="Data Source=RCMS01;Initial Catalog=RM97;Trusted_Connection=True;Max Pool Size=5000" />
      <add name="RCMSTaskScheduler.Properties.Settings.RCMS_Dev" connectionString="Data Source=RCMS-DEV;Initial Catalog=RM97;Trusted_Connection=True;Max Pool Size=5000" />
      <add name="RCMSTaskScheduler.Properties.Settings.RCMS_Local"
          connectionString="Data Source=.;Initial Catalog=RM97;Trusted_Connection=True;Max Pool Size=5000"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
